/* Custom CSS Flex Section */
.flex-container {
    display: flex;
    
  }
  
  .flex-item {
    flex: 1;
    margin: 10px;
    text-align: center;
  }
  
  .flex-item img {
    width: 300px;
    max-width: 200px; 
    height: auto;
  }
   /* Photo Gallery using CSS Grid */
   .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    justify-content: space-around;
   
  }
  
  .gallery img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  
  .gallery > div:nth-child(1) {
    height: auto; 
  }
  
  .gallery > div:nth-child(2) {
    display: grid;
    grid-template-rows: auto auto; 
    grid-gap: 10px;
  }
  
  .gallery .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .gallery .row img {
    height: 100%; 
  }

  
  /* Bootstrap Card Section */

  .card-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
   
  }
  
  .card {
    width: 18rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover; 
  }
  
  .card-body {
    padding: 1.25rem; 
  }
  
  .card-title {
    font-size: 1.25rem; 
  }
  
  .card-text {
    font-size: 1rem; 
  }
  
  .btn-primary {
    transition: background-color 0.3s ease; 
  }
  
  .btn-primary:hover {
    background-color: #007bff; 
  }
  
  /* Footer Styles */

footer {
    background-color: #343a40; 
    color: #fff; 
    padding: 20px 0; 
  }
  
  .container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
  }
  
  .footer-section {
    flex: 0 0 calc(33.333% - 20px); 
    margin-bottom: 20px; 
  }
  
  .footer-section h3 {
    margin-bottom: 10px; 
  }
  
  .footer-section ul {
    list-style-type: none; 
    padding: 0; 
  }
  
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none; 
  }
  
  .back-to-top {
    margin-top: 20px; 
  }
  .foot{
    display: flex;
    justify-content: space-between;
  }
  .btn{
    background-color: #007bff;
  }
  
  @media (max-width: 500px) {
    
    .card-section {
      flex-direction: column; 
      align-items: center; 
    }
    .flex-container{
        flex-direction: column; 
        align-items: center; 

    }
    .container{
        flex-direction: column; 
        align-items: center; 
    }
    
  }
  @media (min-width: 868px) and (max-width: 1024px) {
   
    .card-section {
      flex-direction: row; 
      justify-content: space-around; 
    }
    .flex-container {
      flex-direction: row; 
      justify-content: space-around; 
    }
    .container {
      flex-direction: row; 
      justify-content: space-around; 
    }
  }
  












